<!DOCTYPE html>
<html lang="en">

<head>
    <title>Search Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>

<body leftmargin="0" topmargin="0">
    <!-- Navbar Beginning -->
    <header>
        <nav class="navbar">
            <h1 id="logo"><a href="index.html" id="logo-text"><span class="logo-g">G</span>ood<span class="logo-g">G</span>ame</a></h1>
            <a href="index.html">HOME</a>
            <a href="categories.html">CATEGORIES</a>
            <input type="text" placeholder="Search products..." id="productSearch">
            <a href="#" class="current">LOGIN/REGISTER</a>
            <a href="cart.html">CART</a>
            <a href="about_us.html">ABOUT</a>
        </nav>
    </header>
    <!-- Navbar Ending -->

    <div id="results">Results</div>

    <% if (searchResults.length == 0) { %>
      <div id="noResults">No Results for: "<%- searchTerm %>"</div>
    <% } else { %>
      <div id="searchItems">
        <div id="imageColumn" class="search-column">Image</div>
        <div id="searchProductColumn" class="search-column">Product</div>
        <div class="search-column">Price</div>
        <div class="search-column">Add to Cart</div>

        <% for (var i = 0; i < searchResults.length; i++) { %>
          <% product_ID = searchResults[i].product_ID; %>
          <% name = searchResults[i].name; %>
          <% price = searchResults[i].price; %>
          <% description = searchResults[i].description.substring(0, 100); %>
          <% category_folder = categoryToFolder[searchResults[i].category]; %>
          <% file_name = searchResults[i].file_name; %>
          <% quantity_bought = searchResults[i].quantity_bought; %>

          <div class="item-picture">
            <a href="product_pages/<%- category_folder %>/<%- file_name %>.html">
              <img src="images/product_images/<%- category_folder %>/<%- file_name %>.jpg" alt="<%- name %>">
            </a>
          </div>
          <div class="item-information">
            <h1><%- name %></h1>
            <p><%-description %>...<a href="product_pages/<%- category_folder %>/<%- file_name %>.html">Read More</a></p>
          </div>
          <div class="item-price item-price-<%- i %>">$<%- price %></div>
          <div class="add-to-cart-button" id="<%- product_ID %>">
          <% if (quantity_bought) { %>
            <button class="btn add-to-cart" style="display: none;">Add to Cart</button>
            <div class="increment-and-decrement">
              <button class="minus-btn">-</button>
              <input type="text" class="quantity" value="<%- quantity_bought %>" readonly>
              <button class="plus-btn">+</button>
            </div>
          <% } else { %>
            <button class="btn add-to-cart">Add to Cart</button>
            <div class="increment-and-decrement" style="display: none;">
              <button class="minus-btn">-</button>
              <input type="text" class="quantity" value="1" readonly>
              <button class="plus-btn">+</button>
            </div>
          <% } %>
          </div>
        <% } %>
      </div>
    <% } %>

    <!-- Footer Beginning -->
    <footer class="footer">
        <p>GoodGame.com, Copyright &copy;2021</p>
    </footer>
    <!-- Footer Ending -->

    <script type="text/javascript" src="js/main.js"></script>
    <script src="js/add_to_cart.js"></script>
    <script>
      addToCart();
    </script>
</body>

</html>